.login-drop-down {
  background-color: white;
  z-index: 1;
  /* z-index: 1; */
}

.login-drop-down ul {
  position: absolute;
  background-color: white;
  list-style: none;
  right: -1rem;
  top: 1rem;
  /* padding: 1rem; */
}

.login-drop-down li {
  padding: 0.5rem;
  font-weight: 300;
}

.login-drop-down li:hover {
  /* border-radius: 5px; */
  background-color: rgb(74, 80, 173);
  padding: 0.5rem;
  color: white;
}
