.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  width: 385px;
  box-shadow: 2px 2px 16px rgba(12, 11, 11, 0.02),
    4px 4px 16px rgba(24, 23, 23, 0.04);
  border-radius: 10px;
  margin: 0rem auto;
  border: 0.1px solid gray;
}

.product-card > a {
  position: relative;
}

.product-card > a > img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.product-card a > span:nth-child(1) {
  position: absolute;
  top: 1rem;
  margin-left: 0.5rem;
  background: red;
  border-radius: 5px;
  /* width: fit-content; */
  padding: 0.2rem;
  color: white;
  font-weight: 500;
}

.product-card > div:nth-child(2) {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-card > div:nth-child(3) {
  padding: 1rem;
  /* color: rgb(255, 217, 4); */
}

.product-card > div:nth-child(4) {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.product-card > div:nth-child(4) button {
  padding: 0.5rem;
}

.product-card div:nth-child(4) > span {
  font-size: 2rem;
  font-weight: 800;
}
