.cart-list {
  padding: 3rem;
  max-width: 800px;
  margin: 0.5rem auto;
  /* position: relative; */
}

.cart-list > :nth-child(1) {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.cart-items-button > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.cart-items-button > :nth-child(1) span {
  font-size: 2rem;
  font-weight: 300;
  font-weight: bold;
}

.cart-items-button > :nth-child(2) {
  float: right;
  margin-top: 4rem;
}

.cart-items-button > :nth-child(2) button {
  padding: 1rem 2rem;
}

.cart-items-button > :nth-child(2) button:hover {
  background: rgb(78, 78, 167);
}
