.dark {
  background: #1e293b;
  color: white;
  height: fit-content;
}

.dark a i {
  background: inherit;
  color: white;
}

.dark .logo {
  background-color: inherit;
  color: inherit;
}

.rating {
  color: rgb(255, 217, 4);
}

.dark ul {
  /* background: red; */
}
